#title{
    background-color: #ff4c68;
    color: #fff;
}

/* body{
    font-family: 'Montserrat';
} */

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-top: 150px;
    padding-left: 50px;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.btn{
    margin-left: 50px;
    margin-top: 30px;
}

.title-img{
    height: 80%;
    transform: rotate(25deg);
    position: absolute;
    top: 30%;
    right: 25%;
    
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
    

}

.navbar-brand{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    padding-left: 50px;
    color: aliceblue;
}

.navbar-nav{
    font-size: 1.6rem;
}

.nav-item{
    padding: 0 20px;
}

.feature-decoration{
    text-align: center;
}

.feature-decoration h3{
    font-size: 1.5rem;
    padding-top: 20px;
    font-family: 'Montserrat';
}

.feature-decoration p{
    color: #8f8f8f;
}

.feature-decoration i{
    color: #ef8172;
}

.feature-decoration i:hover{
    color: #ff4c68;
}



#testimonials{
    background-color:  #ef8172;
    text-align: center;
    color: #fff;
}

#testimonials h2{
    font-size: 3rem;
    font-family: 'Montserrat';
    line-height: 1.5;
}

.testimonial-img{
    text-align: center;
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 40px;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

.btn{
    margin-right: 50px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 2% 3%;
}

#footer{
    text-align: center;
    font-family: 'Ubuntu';
   background-color: #fff;
    padding-top: 50px;
}

#cta{
    text-align: center;
    
    background-color: #ff4c68;
}

#cta i{
    padding: 10px 10px;
}

#cta h3{
    text-align: center;
    font-family: 'Montserrat';
    margin: 40px auto;
    width: 70%;
    font-size: 2.5rem;
    font-weight: bold;


    color: #fff;
}

#footer i{
    padding: 40px 5px 20px;
}

@media (max-width: 1200px ) {

    .title-img{
        padding-top: 50px;
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
    
}